var coon = coon || {};
coon.tests = coon.tests || {};
coon.tests.config = coon.tests.config || {};


coon.tests.config.paths = {
    extjs : {
        js : {
            url : "[PATH_TO_EXT_ALL.JS]" /*Your path to your ExtJS distribution (e.g. ext-all-debug.js) */
        }
    }
}


